@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';
@source '../../resources/views/*.blade.php';
@source '../../app/View/Components/**/*.php';

@theme {
    --color-primary-900: #0D47A1;
    --color-primary-800: #1565C0;
    --color-primary-700: #1976D2;
    --color-primary-600: #1E88E5;
    --color-primary-500: #2196F3;
    
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
